.DS_Store
.idea
*.log
*.iml
target
*.class
*.jar
*.war
*.ear
*.rar
*.ipr
*.iws
rebel.xml
*DB
*.dat
.classpath
.project
.settings
WebContent
*.vpp~*
*.vpdm
vpproject
.vpprefdata
*dummy*.*
*-soapui-project.xml
.lock