<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_1.xsd"
         version="3.1">

  <jms-destination>
    <name>java:global/jms/demoQueue</name>
    <resource-adapter-name>jmsra</resource-adapter-name>
  </jms-destination>

  <jms-connection-factory>
    <description>ConnectionFactory to use in demonstration</description>
    <name>java:global/jms/demoConnectionFactory</name>
    <resource-adapter-name>jmsra</resource-adapter-name>

    <property>
      <name>addressList</name>
      <value>mq://localhost:7676</value>
    </property>

    <max-pool-size>30</max-pool-size>
    <min-pool-size>20</min-pool-size>
    <max-idle-time>5</max-idle-time>
  </jms-connection-factory>

</web-app>
